.hotel-img{
    width: 100%;
    height: 30vh;
    object-fit: cover;     
}
.card-round{
    border-top-right-radius: .25rem !important;
    border-top-left-radius: .25rem !important;
}

.bosition{
    transform: translate(10px, -136px);
}
.bosition_1{
    transform: translate(10px, -476px);

}
.serevice_overlay{
    height:458px;
    background-color:rgba(0, 0, 0, .1)
}
.serevice_add{
    transform: translate(-1px, 186px);
    cursor: pointer;
}